@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?e2q4z');
  src:  url('fonts/icomoon.eot?e2q4z#iefix') format('embedded-opentype'),
  url('fonts/icomoon.ttf?e2q4z') format('truetype'),
  url('fonts/icomoon.woff?e2q4z') format('woff'),
  url('fonts/icomoon.svg?e2q4z#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mastercard:before {
  content: "\e900";
}
.icon-sber:before {
  content: "\e901";
}
.icon-walletone:before {
  content: "\e910";
}
.icon-webmoney:before {
  content: "\e912";
}
.icon-yandex:before {
  content: "\e913";
}
.icon-yandexmoney:before {
  content: "\e914";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-odnoklassniki:before {
  content: "\e904";
}
.icon-skype:before {
  content: "\e905";
}
.icon-telegram:before {
  content: "\e906";
}
.icon-tiktok:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-viber:before {
  content: "\e909";
}
.icon-vk:before {
  content: "\e90a";
}
.icon-whatsapp:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e90c";
}
.icon-mir:before {
  content: "\e90d";
}
.icon-qiwi:before {
  content: "\e90e";
}
.icon-visa:before {
  content: "\e90f";
}
.icon-2:before {
  content: "\e911";
}
.icon-arrow_down:before {
  content: "\e915";
}
.icon-arrow_left:before {
  content: "\e916";
}
.icon-arrow_right:before {
  content: "\e917";
}
.icon-arrow_up:before {
  content: "\e918";
}
.icon-calendar:before {
  content: "\e919";
}
.icon-close:before {
  content: "\e91a";
}
.icon-cart:before {
  content: "\e91b";
}
.icon-check-mark:before {
  content: "\e91c";
}
.icon-clock:before {
  content: "\e91d";
}
.icon-compare:before {
  content: "\e91e";
}
.icon-coupon:before {
  content: "\e91f";
}
.icon-delivery:before {
  content: "\e920";
}
.icon-filter:before {
  content: "\e921";
}
.icon-favorites:before {
  content: "\e922";
}
.icon-information:before {
  content: "\e923";
}
.icon-list:before {
  content: "\e924";
}
.icon-location-pin:before {
  content: "\e925";
}
.icon-mail:before {
  content: "\e926";
}
.icon-medal:before {
  content: "\e927";
}
.icon-menu:before {
  content: "\e928";
}
.icon-message:before {
  content: "\e929";
}
.icon-more:before {
  content: "\e92a";
}
.icon-no-visibility:before {
  content: "\e92b";
}
.icon-padlock:before {
  content: "\e92c";
}
.icon-phone:before {
  content: "\e92d";
}
.icon-pin:before {
  content: "\e92e";
}
.icon-sale:before {
  content: "\e92f";
}
.icon-search:before {
  content: "\e930";
}
.icon-sort:before {
  content: "\e931";
}
.icon-star:before {
  content: "\e932";
}
.icon-table:before {
  content: "\e933";
}
.icon-user:before {
  content: "\e934";
}
.icon-visibility:before {
  content: "\e935";
}
